<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/app.css">
        <title>exercice app</title>
    </head>

    <body>
        <header>
            <h1>exercice app</h1>
        </header>
        <section>
            <h2 class="alert">
                <%= message %>
            </h2>
            <hr>
            <a href="/login" class="button">Sign in</a>
        </section>
        <footer class="info">
            <p>Lorem ipsum dolor sit amet</p>
            <p>Something useful...</p>
            <p>Yup</p>
        </footer>
    </body>

</html>
